server { 
    listen 8080;

    server_name localhost;
    client_max_body_size 99999;
    
    location / {
        root ./www;
		index index.html;
        methods GET POST DELETE;
        upload_path /var/www/uploads;
    }

	 location /favicon.ico {
        root ./www;
        index favicon.ico;
        methods GET;
    }
    location /images {

        index gallery.html;
        methods GET;
        upload_path /var/www/media/uploads;
    }

    location /upload {
        root ./www;
		autoindex on;
        methods GET POST DELETE;
        upload_path upload/;
        }

	location /cgi-bin {
        autoindex on;
		root ./www;
		cgi_pass /usr/bin/python3; #path to interpreter
		methods GET POST;
	}
}

server {
    listen 8081;
    server_name diffrent_name;
    client_max_body_size 342234;

    location / {
        root ./www;
        index 404.html;
        methods GET POST DELETE;
        upload_path /var/www/html/uploads;
    }

    location /upload {
        autoindex on;
        root ./www;
        methods GET POST DELETE;
        upload_path upload/;
        index /index.html;
        return 2.pdf;
        }

    location /admin {
        root /var/www/admin;
        index dashboard.html;
        methods GET DELETE;
        return http://diffrent.localhost:12345/admin-dashboard;
        upload_path /var/www/admin/uploads;
    }
}
