server { 
    listen 8080;
    server_name localhost;
    client_max_body_size 9999999999;
    
    location / {
        root ./www;
		index homepage.html;
        methods GET POST DELETE;
        upload_path /var/www/uploads;
    }

	 location /favicon.ico {
        root ./www;
        index favicon.ico;
        methods GET;
    }
    location /images {
        root ./www;
        methods GET;
        index index.html;
    }

    location /upload {
        root ./www;
		autoindex on;
        methods GET POST DELETE;
        upload_path upload/;
        }

	location /cgi-bin {
        autoindex on;
		root ./www;
		cgi_pass /usr/bin/python3; #path to interpreter
		methods GET POST;
	}
}

server {
    listen 8081;
    error_page 404 404.html;
    server_name diffrent_name;
    client_max_body_size 1;

    location / {
        root ./www;
        index homepage.html;
        methods GET POST DELETE;
        upload_path /var/www/html/uploads;
    }

    location /upload {
        autoindex on;
        root ./www;
        methods GET POST DELETE;
        upload_path upload/;
        return return.html;
        }
}
