server { 
    listen 8080;
    server_name localhost;
    client_max_body_size 1;

    location / {
        root /var/www/html;
		index index.html;
        methods GET POST DELETE;
        upload_path /var/www/uploads;
    }

    location /images {

        index gallery.html;
        methods GET;
        upload_path /var/www/media/uploads;
    }

    location /upload {

        index upload.html;
        methods GET POST;
        upload_path /var/www/upload/files;
    }
}

error_page 404 /404.html;

server {
    listen 8081;
    server_name diffrent_name;
    client_max_body_size 342234;

    location / {
        root /var/www/html;
        index index.html;
        methods GET;
        return http://diffrent.localhost:12345/home;
        upload_path /var/www/html/uploads;
    }

    location /api {
        root /var/www/api;
        index index.py;
        methods GET POST;
        return http://diffrent.localhost:12345/api-redirect;
        upload_path /var/www/api/uploads;
    }

    location /admin {
        root /var/www/admin;
        index dashboard.html;
        methods GET DELETE;
        return http://diffrent.localhost:12345/admin-dashboard;
        upload_path /var/www/admin/uploads;
    }
}
